[Unit]
Description=My Service

[Service]
Unit.Description=containerd container runtime
Unit.Documentation=https://containerd.io
Unit.After=network.target local-fs.target dbus.service
Service.ExecStartPre=-/sbin/modprobe overlay
Service.ExecStart=/usr/local/bin/containerd
Service.Type=notify
Service.Delegate=yes
Service.KillMode=process
Service.Restart=always
Service.RestartSec=5
Service.LimitNPROC=infinity
Service.LimitCORE=infinity
Service.LimitNOFILE=infinity
Service.TasksMax=infinity
Service.OOMScoreAdjust=-999
Install.WantedBy=multi-user.target

[Install]
WantedBy=multi-user.target
